<h1 class="text-primary text-center">Stupid Coach</h1>
<p class="text-danger text-center">Ask me but i don't care</p>
<form action="/answer" data-turbo="false" class="d-flex  justify-content-center p-3 m-2">
    <input class="form-control m-2 w-50" type="text" name="answer">
    <input class="btn btn-primary m-2" type="submit" value="Ask!">
</form>
</div>
